extends layout

block content
    h3=article.title 
    h5 Uworzone przez #{author}
    p=article.body
    hr
    if user
        if user.id==article.author
            a.btn.btn-success(href='/articles/edit/'+article._id) Edycja
            a.btn.btn-danger.delete-article(href='#', data-id=article._id)  Usuń