doctype html
html
    head
        title PORTAL Pytanie/Odpowiedź
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='#')
                img(src='https://kszk.vot.pl/kszk.png', alt='logo')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Start 
                            span.sr-only (current)
                    if user        
                        li.nav-item
                            a.nav-link(href='/articles/add') Dodaj pytanie
                    if user
                        li.nav-item
                            a.nav-link(href='/users/logout') Wylogowanie
                    else    
                        li.nav-item
                            a.nav-link(href='/users/register') Zarejestruj
                        li.nav-item
                            a.nav-link(href='/users/login') Login
                ul.nav.navbar-nav.navbar-right
                    li
                        |PORTAL z niełatwymi pytaniami i niekoniecznie prostymi odpowiedziami 
                       
        .container
            !=messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2019 Kszꓘ
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')